<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
            <form action="/restaurants/<%= restaurant._id %>/comments" method="POST">
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
                <button>Submit!</button>
            </form>
        </div>
    </body>
</html>            
            