.thumbnail:hover p{
    opacity: 1;
    visibility: visible;
}
.thumbnail p{
    opacity: 0;
    visibility: hidden;
    transition: all 1s ;
}
.thumbnail img {
    height: 200px;
}

.thumbnail {
    padding: 0;
	overflow: hidden;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#carouselIndicators {
	margin-bottom: 50px;
}

.carousel-item {
    height: 35vw;
}


.carousel-item img {
position: absolute;
width: 100%;
top: 0;  
bottom: 0;  
left: 0;  
right: 0;  
margin: auto;
}

#caption1 {
    width: 30%;
    left: 50%;
    bottom: 5vw;
}
#caption1 h1, #caption2 h1, #caption3 h1{
    font-size: 3.5vw;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}
#caption1 p, #caption2 p, #caption3 p{
    font-size: 1.5vw;
}
#caption2 {
    width: 40%;
    margin:auto;
    bottom: 3vw;
    color: #2b2b2b;
}
#caption3 {
    width: 30%;
    left: 60%;
    bottom: 7vw;
}
